GSI does not handle trailing dot in FQDN

Hi Globus,
the GLOBUS_GSSAPI_NAME_COMPATIBILITY default setting change
from HYBRID to STRICT_RFC2818 exposed that GSI does not handle
the presence of a trailing dot in the FQDN of a hostname.  Example:

----------------------------------------------------------------------
$ globus-url-copy gsiftp://ce404.cern.ch.:2811/etc/group - | wc -l
error: globus_ftp_control: gss_init_sec_context failed
GSS Major Status: Unexpected Gatekeeper or Service Name
globus_gsi_gssapi: Authorization denied: The name of the remote entity
(/DC=ch/DC=cern/OU=computers/CN=ce404.cern.ch), and the expected name
for the remote entity (/CN=ce404.cern.ch.) do not match
0
----------------------------------------------------------------------

With the hybrid mode it works:

----------------------------------------------------------------------
$ export GLOBUS_GSSAPI_NAME_COMPATIBILITY=HYBRID
$ globus-url-copy gsiftp://ce404.cern.ch.:2811/etc/group - | wc -l
66
----------------------------------------------------------------------

Though the appearance of a trailing dot in GridFTP URLs is rare,
this issue was discovered through failures for a particular site
that started as soon as the default algorithm changed.

Surely GSI should allow for the trailing dot to be present
and _not_ take it into account when comparing the provided
hostname with the one in the certificate?

FQDN reference:

    https://en.wikipedia.org/wiki/Fully_qualified_domain_name


RFC2818 refers to matching rules in RFC2459 which state

```
The name MUST be in the "preferred name syntax," as specified by RFC 1034
````

which defines a grammar for dns names:

```
<domain> ::= <subdomain> | " "
<subdomain> ::= <label> | <subdomain> "." <label>
```